.faq-page {
    background-size: cover;
    background-position: center;
    height: 100%;
    color: white; /* Ensures text is readable against a potentially dark image */
    padding: 20px;
    box-sizing: border-box;
}

.faq-header {
    text-align: center;
    padding: 50px 20px;
}

.faq-content {
    padding: 20px;
}

.faq-item {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for readability */
    padding: 20px;
    border-radius: 8px;
    width: 90%; /* Adjust width to control size */
    max-width: 600px; /* Maximum width to maintain readability */
    margin: 10px auto; /* Centering and smaller margins */

}

.faq-item img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.faq-item h2 {
    color: #FFD700; /* Gold color for questions to stand out */
}

.faq-item p {
    font-size: 16px;
}
